h1 {
    font-family: Verdana;
    color: #fff;
    text-align: center;
}

.msg-recover{
    font-family: Verdana;
    color: #000;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
    border-radius: 0.5em;
    background-color: #353535;
    padding: 1%;
}

.form-main {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding: 4%;
    border-radius: 0 0 1em 1em;
}

.form-venda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4%;
    border-radius: 0 0 1em 1em;
}

.input-form {
    padding: 0.6em;
    font-size: 15px;
    background-color: transparent;
    color: #000;
    letter-spacing: 0.15em;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    margin-bottom: 1.5em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.input-formVenda {
    width: 14em;
    padding: 0.6em;
    font-size: 14px;
    text-align: center;
    background-color: transparent;
    color: #000;
    letter-spacing: 0.15em;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    margin-bottom: 1.5em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

select {
    margin-top: 2%;
    text-align: center;
    font-size: 14px;
    border: none;
    padding: 0.4em;
    border-radius: 0.5em;
}

label {
    text-align: center;
    font-family: Verdana;
    font-size: 12px;
    margin-bottom: 0;
    font-weight: bold;
}

.label-form {
    text-align: center;
    font-family: Verdana;
    font-size: 12px;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
}

button {
    width: 12em;
    height: 3em;
    margin: auto;
    border-radius: 0.5em;
    color:#fff;
    background-color: #8C110A;
    border: none;
}

button:hover {
    color: #AB2114;
}

#msg{
    font-family: Verdana;
    color: #000;
    text-align: center;
}