h1 {
    font-family: Verdana;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}

.form-box {
    background-color: #A3A9A3;
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    border-radius: 0.5em;
    width: 45em;
}

input {
    border: 2px solid #ccc;
    padding: 0.4em;
    text-align: center;
}

label {
    background-color: #A3A9A3;
    text-align: center;
    font-family: Verdana;
}

.bt-form {
    margin-left: 40%;
    width: 5em;
    height: 2.5em;
}

.bt-formPG {
    width: 5em;
    height: 2.5em;
}

button:hover{
    color: #AB2114;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
