h1 {
    font-family: Verdana;
    color: #fff;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}

.box-login {
    background-color: #353535;
    width: 22em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    border-radius: 2em 0.5em 2em 0.5em;
    box-shadow: 0 1em 1.5em;
    position: relative;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
    border-radius: 0.5em;
    background-color: #353535;
    padding: 1%;
}

.form-main {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding: 4%;
    border-radius: 0 0 1em 1em;
}

.campo {
    padding: 0.7em;
    font-size: 15px;
    background-color: transparent;
    color: #fff;
    letter-spacing: 0.3em;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    margin-bottom: 1.5em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

button {
    width: 12em;
    height: 3em;
    margin: auto;
    margin-left: 12%;
    border-radius: 0.5em;
    color:#fff;
    background-color: #8C110A;
    border: none;
}

button:hover{
    color: #AB2114;
}

.img-user {
    width: 60px;
    height: 60px;
    left: 0;
    right: 0;
    top: -5%;
    margin:auto;
    position: absolute;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.img-user img {
    width: 100%;
}

.msg-recover {
    font-family: Verdana;
    color: #000;
    text-align: center;
    margin-left: 14%;
}

.msg-recover:hover{
    color: #fff
}