* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
}

.box {
    background-color: #114D4D;
    width: 100%;
    height: 100%;
    margin: auto;
}

.header {
    background-color: #F5F5F5;
    width: 100%;
    height: 6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-home {
    width: 60px;
    height: 60px;
    left: 0;
    top: 5%;
    margin:auto;
    margin-left: 8%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    width: 100%;
    height: 2.5em;
    background-color: #A3A9A3;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a:hover {
    color: #AB2114;
}

a {
    text-decoration: none;
    color: #000;
    font-family: Verdana;
}





